# ETL Project

## Step 1 Data Cleaning

In [688]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [689]:
#load data file 1 anime list
anime_file = "resources/anime.csv"
anime_file_pd =  pd.read_csv(anime_file)
#copy the file into a cleaned file for later data cleaning
anime_cleaned=anime_file_pd

In [690]:
#load data file 2 rating per user
rating_file = "resources/rating.csv"
rating_file_pd =  pd.read_csv(rating_file)
#copy the file into a cleaned file for later data cleaning
rating_cleaned=rating_file_pd

In [691]:
#display the anime file
anime_cleaned.head()

,anime_id,name,genre,type,episodes,rating,members
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,8.40,137636
2,6,Trigun,"Action, Comedy, Sci-Fi",TV,26,8.32,283069
3,7,Witch Hunter Robin,"Action, Drama, Magic, Mystery, Police, Superna...",TV,26,7.36,64905
4,8,Beet the Vandel Buster,"Adventure, Fantasy, Shounen, Supernatural",TV,52,7.06,9848

In [692]:
#display the rating file
rating_cleaned.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

### 1) Clean anime file

In [693]:
#check data type of anime
anime_cleaned.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [694]:
#understanding if there's NA in the column episodes before turning it into a integer
anime_cleaned['episodes'].unique()

array(['26', '1', '52', '145', '24', '74', '220', 'Unknown', '178', '12',
       '22', '69', '25', '4', '94', '5', '3', '13', '23', '43', '6', '50',
       '47', '51', '49', '39', '8', '7', '75', '62', '14', '44', '45',
       '64', '101', '27', '161', '2', '153', '70', '78', '42', '11',
       '167', '150', '366', '16', '38', '48', '10', '76', '40', '20',
       '37', '41', '296', '358', '63', '276', '46', '54', '15', '21',
       '35', '9', '124', '86', '102', '36', '67', '291', '110', '29',
       '55', '201', '142', '109', '34', '136', '32', '73', '114', '19',
       '195', '58', '155', '96', '103', '113', '104', '192', '191', '203',
       '56', '80', '65', '117', '28', '61', '30', '148', '128', '100',
       '17', '243', '92', '98', '105', '79', '31', '1787', '53', '33',
       '130', '18', '97', '193', '115', '170', '66', '330', '108', '68',
       '119', '95', '137', '60', '77', '72', '127', '99', '373', '300',
       '163', '91', '88', '141', '156', '694', '225', '164', '59', '182',
       '112', '305', '365', '1471', '331', '175', '143', '200', '510',
       '151', '1428', '84', '726', '140', '83', '180', '147', '1006',
       '85', '260', '526', '1818', '312', '263', '237', '93', '132',
       '162', '90', '240', '283', '773', '199', '1274', '1565', '71',
       '125', '475', '1306'], dtype=object)

In [695]:
#drop rows with 'Unknown' in the column episodes
anime_cleaned = anime_cleaned[~anime_file_pd.episodes.str.contains("Unknown")]
anime_cleaned['episodes'].unique()

array(['26', '1', '52', '145', '24', '74', '220', '178', '12', '22', '69',
       '25', '4', '94', '5', '3', '13', '23', '43', '6', '50', '47', '51',
       '49', '39', '8', '7', '75', '62', '14', '44', '45', '64', '101',
       '27', '161', '2', '153', '70', '78', '42', '11', '167', '150',
       '366', '16', '38', '48', '10', '76', '40', '20', '37', '41', '296',
       '358', '63', '276', '46', '54', '15', '21', '35', '9', '124', '86',
       '102', '36', '67', '291', '110', '29', '55', '201', '142', '109',
       '34', '136', '32', '73', '114', '19', '195', '58', '155', '96',
       '103', '113', '104', '192', '191', '203', '56', '80', '65', '117',
       '28', '61', '30', '148', '128', '100', '17', '243', '92', '98',
       '105', '79', '31', '1787', '53', '33', '130', '18', '97', '193',
       '115', '170', '66', '330', '108', '68', '119', '95', '137', '60',
       '77', '72', '127', '99', '373', '300', '163', '91', '88', '141',
       '156', '694', '225', '164', '59', '182', '112', '305', '365',
       '1471', '331', '175', '143', '200', '510', '151', '1428', '84',
       '726', '140', '83', '180', '147', '1006', '85', '260', '526',
       '1818', '312', '263', '237', '93', '132', '162', '90', '240',
       '283', '773', '199', '1274', '1565', '71', '125', '475', '1306'],
      dtype=object)

In [696]:
#turn episodes into integer
anime_cleaned['episodes']=pd.to_numeric(anime_cleaned['episodes'])
#confirm the change
anime_cleaned.dtypes

/Users/saurabhgoyal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

anime_id      int64
name         object
genre        object
type         object
episodes      int64
rating      float64
members       int64
dtype: object

In [697]:
#check descriptives of anime
anime_file_pd.describe()

           anime_id        rating       members
count  11998.000000  11773.000000  1.199800e+04
mean   14054.262210      6.466942  1.800224e+04
std    11462.577777      1.029266  5.493800e+04
min        1.000000      1.670000  5.000000e+00
25%     3483.500000      5.870000  2.172500e+02
50%    10243.000000      6.560000  1.499000e+03
75%    24808.500000      7.180000  9.183000e+03
max    34527.000000     10.000000  1.013917e+06

In [698]:
#turn type into category
anime_cleaned['type']=anime_cleaned['type'].astype('category')
anime_cleaned.dtypes

/Users/saurabhgoyal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

anime_id       int64
name          object
genre         object
type        category
episodes       int64
rating       float64
members        int64
dtype: object

In [699]:
#turn genre into two columns through sparsing to make sure each row has at least one genre
anime_cleaned=anime_cleaned.join(anime_cleaned['genre'].str.split(',', 1, expand=True).add_prefix('genre'))

In [700]:
#checking if column genre0 has NA
anime_cleaned['genre0'].unique()

array(['Action', 'Adventure', 'Comedy', 'Drama', 'Dementia', 'Mecha',
       'Historical', 'School', 'Hentai', 'Horror', 'Demons', 'Ecchi',
       'Fantasy', 'Shounen', 'Game', 'Mystery', 'Cars', 'Magic',
       'Romance', 'Sci-Fi', 'Harem', 'Kids', 'Shoujo', 'Military',
       'Super Power', 'Martial Arts', 'Music', 'Slice of Life', 'Sports',
       'Supernatural', 'Parody', 'Vampire', 'Psychological', 'Samurai',
       'Yaoi', 'Seinen', 'Josei', 'Thriller', nan, 'Police', 'Space'],
      dtype=object)

In [701]:
#drop the newly created two columns
anime_cleaned=anime_cleaned.drop(['genre0','genre1'],axis=1)
anime_cleaned.head()

,anime_id,name,genre,type,episodes,rating,members
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,8.40,137636
2,6,Trigun,"Action, Comedy, Sci-Fi",TV,26,8.32,283069
3,7,Witch Hunter Robin,"Action, Drama, Magic, Mystery, Police, Superna...",TV,26,7.36,64905
4,8,Beet the Vandel Buster,"Adventure, Fantasy, Shounen, Supernatural",TV,52,7.06,9848

In [702]:
#basic descriptives for the anime file
anime_cleaned.describe()

           anime_id      episodes        rating       members
count  11666.000000  11666.000000  11592.000000  1.166600e+04
mean   13583.854449     12.364735      6.473496  1.829695e+04
std    11213.867363     47.203325      1.024477  5.522090e+04
min        1.000000      1.000000      1.670000  5.000000e+00
25%     3377.250000      1.000000      5.880000  2.220000e+02
50%     9910.500000      2.000000      6.560000  1.530500e+03
75%    23646.500000     12.000000      7.180000  9.556750e+03
max    34527.000000   1818.000000     10.000000  1.013917e+06

In [703]:
#drop columns in rating that has null value
anime_cleaned=anime_cleaned.dropna()
anime_cleaned.describe()

           anime_id      episodes        rating       members
count  11546.000000  11546.000000  11546.000000  1.154600e+04
mean   13399.789364     12.467694      6.477849  1.843751e+04
std    11115.746145     47.435011      1.021606  5.547989e+04
min        1.000000      1.000000      1.670000  1.200000e+01
25%     3324.250000      1.000000      5.880000  2.250000e+02
50%     9800.000000      2.000000      6.560000  1.543500e+03
75%    23302.500000     12.000000      7.180000  9.610000e+03
max    34519.000000   1818.000000     10.000000  1.013917e+06

In [704]:
#check if there is duplicated anime_id
anime_cleaned[anime_cleaned.duplicated('anime_id')]

Empty DataFrame
Columns: [anime_id, name, genre, type, episodes, rating, members]
Index: []

In [705]:
#reset index
anime_cleaned=anime_cleaned.reset_index(drop=True)

### 2) Clean rating file

In [706]:
#understand data type of rating file
rating_cleaned.dtypes

user_id     int64
anime_id    int64
rating      int64
dtype: object

In [707]:
#understand descriptives of rating file
rating_cleaned.describe()

            user_id      anime_id        rating
count  7.813737e+06  7.813737e+06  7.813737e+06
mean   3.672796e+04  8.909072e+03  6.144030e+00
std    2.099795e+04  8.883950e+03  3.727800e+00
min    1.000000e+00  1.000000e+00 -1.000000e+00
25%    1.897400e+04  1.240000e+03  6.000000e+00
50%    3.679100e+04  6.213000e+03  7.000000e+00
75%    5.475700e+04  1.409300e+04  9.000000e+00
max    7.351600e+04  3.451900e+04  1.000000e+01

In [708]:
#drop the rows with negative ratings
rating_cleaned=rating_cleaned[rating_cleaned['rating']>=0]

In [709]:
rating_cleaned.describe()

            user_id      anime_id        rating
count  6.337241e+06  6.337241e+06  6.337241e+06
mean   3.674791e+04  8.902866e+03  7.808497e+00
std    2.101340e+04  8.882000e+03  1.572496e+00
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    1.898400e+04  1.239000e+03  7.000000e+00
50%    3.681500e+04  6.213000e+03  8.000000e+00
75%    5.487300e+04  1.407500e+04  9.000000e+00
max    7.351600e+04  3.447500e+04  1.000000e+01

# Load the cleaned file to MySQL

In [718]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [719]:
engine = create_engine('mysql://root:ShallWe1@3@localhost:3306/anime_db?charset=utf8')
conn = engine.connect()

In [720]:
anime_cleaned.to_sql(name='anime', con=conn, if_exists='replace')

In [721]:
rating_cleaned.to_sql(name='rating', con=conn, if_exists='replace')

In [727]:
# Check that the data was uploaded to SQL correctly

check_data = pd.read_sql("select * from anime limit 10", conn)
check_data

,index,anime_id,name,genre,type,episodes,rating,members
0,0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
1,1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,8.40,137636
2,2,6,Trigun,"Action, Comedy, Sci-Fi",TV,26,8.32,283069
3,3,7,Witch Hunter Robin,"Action, Drama, Magic, Mystery, Police, Superna...",TV,26,7.36,64905
4,4,8,Beet the Vandel Buster,"Adventure, Fantasy, Shounen, Supernatural",TV,52,7.06,9848
5,5,15,Eyeshield 21,"Action, Comedy, Shounen, Sports",TV,145,8.08,83648
6,6,16,Hachimitsu to Clover,"Comedy, Drama, Josei, Romance",TV,24,8.18,130646
7,7,17,Hungry Heart: Wild Striker,"Comedy, Shounen, Slice of Life, Sports",TV,52,7.74,13469
8,8,18,Initial D Fourth Stage,"Action, Cars, Drama, Seinen, Sports",TV,24,8.24,41584
9,9,19,Monster,"Drama, Horror, Mystery, Police, Psychological,...",TV,74,8.72,247562